.fontColorwt { color: #fff !important; }

.bg { background: #e64275 !important; }

.marginT_20 { margin-top: 20px !important; }

.mui-slider-indicator .mui-active.mui-indicator { background: #df1552; }

.mui-slider-indicator .mui-indicator { background: #fff; }

.red { color: #f00; }

.rmb { font-size: 16px; font-weight: 600; color: #e64275; }

.bgwt { background: #fff; }

.text-hidden { line-height: 20px; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; white-space: normal; overflow: hidden; }

.w-bottom-bar { height: 50px; }
.w-bottom-bar .mui-tab-item { color: #696969; }
.w-bottom-bar .mui-tab-item.mui-active { color: #c62154; }
.w-bottom-bar a { display: block; }

::-webkit-input-placeholder { /* WebKit browsers */ color: #fff; }

.w-home-bar { height: 45px; background: #e64275; }
.w-home-bar .mui-title { right: 40px; left: 40px; }
.w-home-bar .mui-title .input-select { height: 30px; background: none; border: 1px solid #fff; border-radius: 15px; font-size: 12px; margin: 0; }
.w-home-bar .mui-title .input-select[placeholder] { color: #fff !important; }
.w-home-bar .mui-title .icon-sousuo { font-size: 24px; color: #FFF; transform: translate3d(-10px, 12px, 0); }
.w-home-bar .iconfont { color: #fff; font-size: 18px; transform: translateY(5px); }

.w-top-slider { height: 160px; }
.w-top-slider img { height: 160px; }

.section { background: #fff; overflow: hidden; margin-bottom: 5px; }
.section:last-of-type { margin-bottom: 0; }
.section .section-top { height: 40px; padding: 0 0.3125rem; border-bottom: 1px solid #e2e2e2; box-sizing: border-box; }
.section .section-top .bullhorn .icon-yingyongtubiao { transform: translateY(3px); font-size: 25px; color: #e64275; }
.section .section-top .bullhorn .tit { padding-left: 0px; font-size: 14px; }
.section .section-top .title .bold-tit { font-size: 16px; font-weight: 600; color: #444444; }
.section .section-top .tit { font-size: 12px; padding-left: 10px; color: #9a9a9a; }
.section .section-content { padding: 0 0.3125rem; box-sizing: border-box; }

.grid-10, .grid-3 { display: flex; display: -webkit-flex; -webkit-flex-wrap: wrap; }
.grid-10 > li, .grid-3 > li { box-sizing: border-box; }

.grid-10 { -webkit-justify-content: center; -webkit-align-items: center; margin-top: 0.23438rem; }
.grid-10 > li { margin: 0.23438rem 0; padding: 0 0.39063rem; flex-basis: 20%; -webkit-flex-basis: 20%; box-sizing: border-box; }
.grid-10 > li > img { width: 100%; }

.grid-3 { margin-top: 0.23438rem; }
.grid-3 > li { -webkit-flex-basis: 50%; flex-basis: 50%; padding: 0.07813rem; }
.grid-3 > li .mui-card { margin: 0; border-bottom: 2px solid #e64275; }
.grid-3 > li .mui-card .mui-card-media { height: auto; min-height: 3.75rem; width: 100%; }
.grid-3 > li .mui-card .mui-card-content-inner p { color: #333; margin-bottom: 0; }
.grid-3 > li .mui-card .mui-card-content-inner, .grid-3 > li .mui-card .mui-card-footer { padding: 5px 0.07813rem; }
.grid-3 > li .mui-card .mui-card-footer { width: 100%; min-height: auto; }
.grid-3 > li .mui-card .mui-card-footer:before { height: 0; }
.grid-3 > li .mui-card .mui-card-footer span { font-size: 12px; }
.grid-3 > li .mui-card .mui-card-footer .old-rmb { text-decoration: line-through; }
.grid-3 > li .mui-card .mui-card-footer .new-rmb { font-size: 14px; font-weight: 600; }

@media screen and (min-width: 414px) { .grid-3 li { -webkit-flex-basis: 33.3333%; flex-basis: 33.3333%; padding: 0.07813rem; }
  .grid-3 li .mui-card-footer { padding: 0; }
  .grid-3 li .mui-card-footer { display: block; }
  .grid-3 li .mui-card-footer span:nth-of-type(1) { float: left; display: inline; }
  .grid-3 li .mui-card-footer span:nth-of-type(2) { float: right; display: inline; } }
.classify-list { padding-top: 55px; background: #efeff4; }
.classify-list > li { margin-bottom: 0.39063rem; background: #fff; }
.classify-list > li:after { height: 0; }
.classify-list > li:last-of-type { margin-bottom: 0; }
.classify-list > li > a { position: relative; }
.classify-list > li > a > .mui-media-object { height: 3.17188rem; width: 3.17188rem; max-width: 3.17188rem; }
.classify-list > li > a .mui-media-body > h3 { font-size: 16px; font-weight: normal; }
.classify-list > li > a .mui-media-body > .mui-ellipsis { color: #a6a6a6; font-size: 14px; }
.classify-list > li > a .mui-media-body > .mui-ellipsis:last-of-type { position: absolute; bottom: 11px; font-size: 16px; color: #e64275; }

.classify-wrapper { top: 0; }

.filters { position: fixed; text-align: center; font-size: 14px; color: #9a9a9a; z-index: 999; height: 55px; background: #fff; width: 100%; display: flex; display: -webkit-flex; align-items: center; justify-content: center; margin: 1px 0; border-top: 2px solid #efeff4; border-bottom: 2px solid #efeff4; }
.filters > ul { flex: 1; display: flex; display: -webkit-flex; align-items: center; }
.filters > ul > li { flex: 1; height: 30px; line-height: 30px; margin: 0 0.3125rem; background: #f6f6f6; border-radius: 5px; border: 1px solid #fff; }
.filters > ul > li.active { color: #e64275; border-color: #e64275; background: #fff; }

.mui-bar-nav ~ .mui-content .mui-slider.mui-fullscreen { top: 45px; height: auto; }

.mui-pull-top-tips { position: absolute; top: -20px; left: 50%; margin-left: -25px; width: 40px; height: 40px; border-radius: 100%; z-index: 1; }

.mui-bar ~ .mui-pull-top-tips { top: 24px; }

.mui-pull-top-wrapper { width: 42px; height: 42px; display: block; text-align: center; background-color: #efeff4; border: 1px solid #ddd; border-radius: 25px; background-clip: padding-box; box-shadow: 0 4px 10px #bbb; overflow: hidden; }

.mui-pull-top-tips.mui-transitioning { -webkit-transition-duration: 200ms; transition-duration: 200ms; }

.mui-pull-top-tips .mui-pull-loading { /*-webkit-backface-visibility: hidden; -webkit-transition-duration: 400ms; transition-duration: 400ms;*/ margin: 0; }

.mui-pull-top-wrapper .mui-icon, .mui-pull-top-wrapper .mui-spinner { margin-top: 7px; }

.mui-pull-top-wrapper .mui-icon.mui-reverse { /*-webkit-transform: rotate(180deg) translateZ(0);*/ }

.mui-pull-bottom-tips { text-align: center; background-color: #efeff4; font-size: 15px; line-height: 40px; color: #777; }

.mui-pull-top-canvas { overflow: hidden; background-color: #fafafa; border-radius: 40px; box-shadow: 0 4px 10px #bbb; width: 40px; height: 40px; margin: 0 auto; }

.mui-pull-top-canvas canvas { width: 40px; }

.mui-slider-indicator.mui-segmented-control { background-color: #f9f9f9; }

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active { color: #e64275; }

.mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item { border-bottom: none; }

.classify-list .mui-table-view-cell a.mui-active { background: none; }

.top-info { height: 4.6875rem; background: #e64275; display: flex; display: -webkit-flex; align-items: center; justify-content: center; text-align: center; }
.top-info .info .head { height: 1.5625rem; width: 1.5625rem; border-radius: 50%; }
.top-info .info .username { font-size: 16px; color: #fff; margin-top: 0.3125rem; }

.shop-list { padding-top: 158px; background: #efeff4; }
.shop-list > li { margin-bottom: 0.39063rem; padding: 0.23438rem; background: #fff; }
.shop-list > li .sitem-top { display: flex; display: -webkit-flex; }
.shop-list > li .sitem-top .shop-icon { height: 1.32813rem; width: 1.32813rem; }
.shop-list > li .sitem-top .shop-text { display: flex; display: -webkit-flex; justify-content: space-between; -webkit-justify-content: space-between; align-items: center; -webkit-align-items: center; flex: 1; margin-left: 0.46875rem; }
.shop-list > li .sitem-top .shop-text .shop-text-l h3 { padding: 0.07813rem 0; font-size: 14px; }
.shop-list > li .sitem-top .shop-text .shop-text-l p { font-size: 12px; }
.shop-list > li .sitem-top .shop-text .shop-text-l p span { margin-right: 0.23438rem; }
.shop-list > li .sitem-top .shop-text .shop-open-btn { text-align: center; height: 0.70313rem; width: 1.5625rem; line-height: 0.70313rem; display: inline-block; border: 1px solid #e64275; color: #e64275; border-radius: 45%; }
.shop-list > li .sitem-content { margin-top: 0.3125rem; display: flex; display: -webkit-flex; }
.shop-list > li .sitem-content .sitem-content-i { position: relative; -webkit-flex: 1; flex: 1; margin: 0.07813rem; box-sizing: border-box; }
.shop-list > li .sitem-content .sitem-content-i img { height: auto; width: 100%; }
.shop-list > li .sitem-content .sitem-content-i .sci-rmb { position: absolute; bottom: 0; width: 100%; padding: 0; margin: 0; height: 0.625rem; line-height: 0.625rem; background: rgba(255, 255, 255, 0.5); text-align: right; padding-right: 0.23438rem; box-sizing: border-box; }

.details-top-bar.mui-bar-nav { top: 15px; background: none; box-shadow: none; }
.details-top-bar.mui-bar-nav .mui-icon { margin-right: 0; margin-left: 0; padding: 6px; background: rgba(0, 0, 0, 0.3); border-radius: 50%; }
.details-top-bar.mui-bar-nav .mui-icon { color: #fff; }
.details-top-bar.mui-bar-nav .icon-fenxiang { position: absolute; top: 50px; right: 0.23438rem; }

.details-header { padding: 0.23438rem; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; background: #fff; }
.details-header .details-header-text { flex: 1; -webkit-flex: 1; }
.details-header .details-header-text h3 { font-size: 16px; color: #000; }
.details-header .details-header-text .rmbs { padding: 0.07813rem 0; display: flex; display: -webkit-flex; }
.details-header .details-header-text .rmbs p { margin-bottom: 0; }
.details-header .details-header-text .rmbs p:last-of-type { text-decoration: line-through; margin-left: 0.23438rem; }
.details-header .details-header-like { text-align: center; font-size: 14px; width: 0.78125rem; margin-bottom: 0; }
.details-header .details-header-like .iconfont { font-size: 22px; }

.click-show-imgs { position: relative; margin-top: 0.3125rem; background: #fff; padding: 0.39063rem 0.23438rem; font-size: 16px; border-bottom: 1px solid #d0d0d0; }

.details-text { padding: 0.23438rem 0.23438rem 0 0.23438rem; color: #8f8f94; background: #fff; letter-spacing: 2px; font-size: 14px; }

.details-imgs { background: #fff; }
.details-imgs img { width: 100%; height: auto; padding: 0 0.23438rem; }

.d-footer { position: fixed; bottom: 0; height: 55px; background: #fff; width: 100%; display: flex; display: -webkit-flex; justify-content: center; align-items: center; line-height: 40px; border-top: 1px  solid #dcdcdc; }
.d-footer > a { height: 40px; text-align: center; }
.d-footer > a.shopping-cart { width: 80px; margin: 0 10px; border: 1px solid #dcdcdc; position: relative; }
.d-footer > a.shopping-cart .icon-gouwuche { font-size: 22px; }
.d-footer > a.shopping-cart .cart-number { position: absolute; display: inline-block;line-height: 16px; height: 16px; width:16px; border-radius: 50%; background: #e64275; color: #fff; font-size: 12px; }
.d-footer > a.shopping-cart-add { margin: 0 10px; flex: 1; background: #e64275; color: #fff; }

.cart-goods .goods-item { margin: 15px 0; padding: 10px 0; background: #fff; }
.cart-goods .goods-item .goods-item-it { padding: 10px; color: #000; display: flex; display: -webkit-flex; align-items: center; justify-content: center; -webkit-align-items: center; -webkit-justify-content: center; position: relative; border-bottom: 1px solid #dcdcdc; }
.cart-goods .goods-item .goods-item-img { height: 70px; width:auto; }
.cart-goods .goods-item .samll-title { font-size: 12px; }
.cart-goods .goods-item .goods-item-text { margin: 0 5px; flex: 1; -webkit-flex: 1; display: flex; display: -webkit-flex; }
.cart-goods .goods-item .goods-item-text .gitt-title { font-size: 14px; }
.cart-goods .goods-item .mui-numbox { height: 25px; width: 80px; padding: 0 20px; background: #fff; }
.cart-goods .goods-item .mui-numbox [class*=btn-numbox], .cart-goods .goods-item .mui-numbox [class*=numbox-btn] { background: #fff; width: 30px; }
.cart-goods .goods-item .mui-numbox .mui-input-numbox, .cart-goods .goods-item .mui-numbox .mui-numbox-input { border: none !important; }
.cart-goods .goods-item .gitt-newrmb { font-size: 14px; color: #000; }
.cart-goods .goods-item .gitt-oldrmb { text-decoration: line-through; }
.cart-goods .goods-item .rmb-sum { margin-top: 10px; margin-bottom: 0; margin-right: 10px; font-size: 14px; color: #000; font-weight: 600; }

.store-info { padding: 0 5px; display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; min-height: 80px; }
.store-info .store-info-img { height: 45px; width: 45px; }
.store-info .store-name { color: #000; font-size: 16px; }
.store-info p { margin-bottom: 0; }
.store-info .store-info-text { margin-left: 10px; }
.store-info .shop-sum { font-size: 12px; }
.store-info .shop-s { padding-top: 5px; }

.store-tab { display: flex; display: -webkit-flex; align-items: center; -webkit-align-items: center; min-height: 45px; text-align: center; font-size: 16px; background: #fff; border: 1px solid #dcdcdc; border-right: none; border-left: none; }
.store-tab > li { flex: 1; -webkit-flex: 1; }
.store-tab > li.active { color: #e64275; }

.login-logo { margin: 60px 0 30px  0; }

.login-form { width: 95%; margin: 0 auto; }

.inputs { margin-bottom: 30px; border: 1px  solid #cbcbcb; border-radius: 5px; }

.inputs .input-group { position: relative; }

.inputs .bottom-line:after { position: absolute; bottom: 0; left: 0; content: ''; height: 1px; width: 100%; background: #c9c9c9; transform: scaleY(0.5); }

.inputs .input-group .iconfont { position: absolute; top: 50%; left: 5px; font-size: 24px; transform: translate3d(0, -50%, 0); -webkit-transform: translate3d(0, -50%, 0); color: #a5a3a3; }

.inputs input { margin: 0; padding: 0; height: 50px; border: none; font-size: 14px; padding-left: 35px; color: #c9c9c9; }

.inputs input.input-text { border-radius: 5px 5px 0 0; }

.inputs input.input-password { border-radius: 0 0 5px 5px; }

.login-submit { padding: 0; border: none; outline: none; width: 100%; }

.login-link a { font-size: 14px; color: #a5a3a3; }

.reset { width: 95%; margin: 0 auto; }

.btn_1aa082 { background: #1aa082; }

.res-input-group { display: flex; display: -webkit-flex; position: relative; }

.res-input-group .post-btn { display: inline-block; margin: 0 0 0 15px; height: 40px; line-height: 40px; width: 110px; font-size: 12px; background: #ff9a32; }

.res-input-group .msd { position: absolute; right: 8px; top: 6px; background: #f0f0ee; font-size: 12px; color: #ff9a32; padding: 8px; }

.error { display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 100%; }

.error img { width: 100px; }

.login-submit { padding: 0; border: none; outline: none; width: 100%; }

.post-btn { display: block; height: 45px; color: #fff !important; font-size: 16px; line-height: 45px; background: #e64275; text-align: center; width: 95%; margin: 20px auto; }

.reset .post-btn { display: block; height: 45px; color: #fff !important; font-size: 16px; line-height: 45px; background: #e64275; text-align: center; width: 100%; margin: 20px auto; }

.res-input-group { display: flex; display: -webkit-flex; position: relative; }
.res-input-group .post-btn { display: inline-block; margin: 0 0 0 15px; height: 40px; line-height: 40px; width: 110px; font-size: 12px; background: #e64275; }
.res-input-group .msd { position: absolute; right: 8px; top: 6px; background: #f0f0ee; font-size: 12px; color: #ff9a32; padding: 8px; }

/*# sourceMappingURL=style.css.map */
