<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../js/flexible.js"></script>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../fonts/iconfont.css" />
		<link rel="stylesheet" href="../../css/style.css" />
	</head>

	<body style="background: #fff;">
		<header class="mui-bar mui-bar-nav  w-home-bar" id="w-home-bar">
			<a class="mui-action-back mui-icon iconfont icon-jiantou mui-pull-left"></a>
			<div class="mui-title">
				<span class="mui-icon iconfont icon-sousuo  mui-pull-right"></span>
				<input type="text" placeholder="请输入您要找的商品" vaule="" class="input-select" />

			</div>
			<a class="mui-icon iconfont icon-zhuye2 mui-pull-right"></a>
		</header>
		<div class="mui-content">
			<div class="store-info" style="background-image: url(./storeBg.png);">
				<img src="../Home/shop_1.png" class="store-info-img" />
				<div class="store-info-text">
					<div class="store-info-text-l">
						<p class="store-name">商店名称</p>
						<p class="shop-s"><span class="shop-sum">商品总数：999</span></p>
					</div>
					<div class="store-info-text-r">
					</div>

				</div>
			</div>
			<ul class="store-tab">
			<!--	<li class="active">店铺首页</li>-->
				<li class="active">全部商品</li>
				<li>新上架</li>
			</ul>
			<!---->

			<!--下拉刷新容器-->

			<div id="pullrefresh" class="classify-wrapper">
				<div class="mui-scroll">
					<!--数据列表-->

					<ul class="grid-3" style="padding: 0 5px;">
						<li>
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="background-image:url(https://img.alicdn.com/tfs/TB10JB.QVXXXXa8XXXXXXXXXXXX-492-660.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p>这里商品标题这里商品标题</p>

									</div>
								</div>
								<div class="mui-card-footer">
									<span class="red new-rmb">￥199.00</span>
									<span class="old-rmb">￥399.00</span>
								</div>
							</div>
						</li>
						<li>
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="background-image:url(https://img.alicdn.com/tfs/TB10JB.QVXXXXa8XXXXXXXXXXXX-492-660.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p>这里商品标题这里商品标题</p>

									</div>
								</div>
								<div class="mui-card-footer">
									<span class="red new-rmb">￥199.00</span>
									<span class="old-rmb">￥399.00</span>
								</div>
							</div>
						</li>

						<li>
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="background-image:url(https://img.alicdn.com/tfs/TB10JB.QVXXXXa8XXXXXXXXXXXX-492-660.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p>这里商品标题这里商品标题</p>

									</div>
								</div>
								<div class="mui-card-footer">
									<span class="red new-rmb">￥199.00</span>
									<span class="old-rmb">￥399.00</span>
								</div>
							</div>
						</li>
						<li>
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="background-image:url(https://img.alicdn.com/tfs/TB10JB.QVXXXXa8XXXXXXXXXXXX-492-660.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p>这里商品标题这里商品标题</p>

									</div>
								</div>
								<div class="mui-card-footer">
									<span class="red new-rmb">￥199.00</span>
									<span class="old-rmb">￥399.00</span>
								</div>
							</div>
						</li>
                <li>
							<div class="mui-card">
								<div class="mui-card-header mui-card-media" style="background-image:url(https://img.alicdn.com/tfs/TB10JB.QVXXXXa8XXXXXXXXXXXX-492-660.jpg)"></div>
								<div class="mui-card-content">
									<div class="mui-card-content-inner">
										<p>这里商品标题这里商品标题</p>

									</div>
								</div>
								<div class="mui-card-footer">
									<span class="red new-rmb">￥199.00</span>
									<span class="old-rmb">￥399.00</span>
								</div>
							</div>
						</li>

					</ul>

				</div>
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js"></script>
		<script>
			mui.init();
		</script>
	</body>

</html>